.container {
  display: flex;
  flex-direction: column;
  margin: 0rem .5rem .5rem .5rem;
  width: 30rem;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0rem;
}

input {
  background-color: rgb(255, 219, 172);
  border: none;
  border-bottom: .1rem solid black;

  width: 70%;
  padding: 0rem;
  margin: 0rem;
}